Repository ugly-potato1/potato-API-server, pull requests merged in 2023-11, with the labels that each got.

#27 Feat: 장바구니에 상품 추가 API 구현
  src/main/java/potato/potatoAPIserver/cart/api/CartApi.java
  src/main/java/potato/potatoAPIserver/cart/domain/Cart.java
  src/main/java/potato/potatoAPIserver/cart/domain/CartProduct.java
  src/main/java/potato/potatoAPIserver/cart/dto/request/AddToCartRequest.java
  src/main/java/potato/potatoAPIserver/cart/repository/CartProductRepository.java
  src/main/java/potato/potatoAPIserver/cart/repository/CartRepository.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductService.java
  src/main/java/potato/potatoAPIserver/cart/service/CartService.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartServiceTest.java
Labels: Feat, Refactor, Test

#31 Feat: 장바구니 상품 수량 변경 로직 구현
  src/main/java/potato/potatoAPIserver/cart/api/CartApi.java
  src/main/java/potato/potatoAPIserver/cart/domain/Cart.java
  src/main/java/potato/potatoAPIserver/cart/domain/CartProduct.java
  src/main/java/potato/potatoAPIserver/cart/dto/request/CartProductCreateRequest.java
  src/main/java/potato/potatoAPIserver/cart/dto/request/QuantityUpdateRequest.java
  src/main/java/potato/potatoAPIserver/cart/repository/CartProductRepository.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductService.java
  src/main/java/potato/potatoAPIserver/cart/service/CartService.java
  src/main/java/potato/potatoAPIserver/common/ResultCode.java
  src/main/java/potato/potatoAPIserver/order/domain/Cart.java
  src/main/java/potato/potatoAPIserver/order/domain/CartProduct.java
  src/main/java/potato/potatoAPIserver/order/dto/response/ReviewResponse.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartServiceTest.java
Labels: Feat, Refactor, Test

#37 Feat: 장바구니 상품 삭제 기능 구현
  .gitignore
  src/main/java/potato/potatoAPIserver/cart/api/CartApi.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductService.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductServiceTest.java
Labels: Docs, Feat, Test

#41 Fix: 로그인/회원가입
  src/main/java/potato/potatoAPIserver/common/ResultCode.java
  src/main/java/potato/potatoAPIserver/global/config/SecurityConfig.java
  src/main/java/potato/potatoAPIserver/security/auth/AuthenticationController.java
  src/main/java/potato/potatoAPIserver/security/auth/AuthenticationService.java
  src/main/java/potato/potatoAPIserver/security/auth/dto/AuthenticationResponse.java
  src/main/java/potato/potatoAPIserver/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/potato/potatoAPIserver/security/jwt/JwtAuthenticationFilter.java
  src/main/java/potato/potatoAPIserver/security/jwt/JwtService.java
  src/main/java/potato/potatoAPIserver/security/oauth/AuthorizionRequestHeader.java
  src/main/java/potato/potatoAPIserver/security/oauth/KakaoOAuth2UserAttribute.java
  src/main/java/potato/potatoAPIserver/security/oauth/NaverOAuth2UserAttribute.java
  src/main/java/potato/potatoAPIserver/security/oauth/OAuth2UserAttribute.java
  src/main/java/potato/potatoAPIserver/security/oauth/OAuth2UserAttributeFactory.java
  src/test/java/potato/potatoAPIserver/common/WithMockCustomMember.java
  src/test/java/potato/potatoAPIserver/common/WithMockCustomMemberSecurityContextFactory.java
Labels: Feat, Fix

#42 장바구니 조회 기능 구현
  src/main/java/potato/potatoAPIserver/cart/api/CartApi.java
  src/main/java/potato/potatoAPIserver/cart/dto/request/QuantityUpdateRequest.java
  src/main/java/potato/potatoAPIserver/cart/dto/response/CartProductResponse.java
  src/main/java/potato/potatoAPIserver/cart/dto/response/CartResponse.java
  src/main/java/potato/potatoAPIserver/cart/repository/CartProductRepository.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductReadService.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductWriteService.java
  src/main/java/potato/potatoAPIserver/cart/service/CartReadService.java
  src/main/java/potato/potatoAPIserver/cart/service/CartWriteService.java
  src/main/java/potato/potatoAPIserver/product/api/ProductApi.java
  src/main/java/potato/potatoAPIserver/product/dto/ProductDto.java
  src/main/java/potato/potatoAPIserver/product/dto/request/ProductCreateRequest.java
  src/main/java/potato/potatoAPIserver/product/service/ProductService.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductWriteServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartWriteServiceTest.java
Labels: Feat, Refactor

#43 주문 생성 API 구현
  src/main/java/potato/potatoAPIserver/cart/dto/CartProductParam.java
  src/main/java/potato/potatoAPIserver/cart/dto/response/CartResponse.java
  src/main/java/potato/potatoAPIserver/cart/service/CartProductReadService.java
  src/main/java/potato/potatoAPIserver/common/ResultCode.java
  src/main/java/potato/potatoAPIserver/order/api/OrderApi.java
  src/main/java/potato/potatoAPIserver/order/domain/Order.java
  src/main/java/potato/potatoAPIserver/order/domain/OrderProduct.java
  src/main/java/potato/potatoAPIserver/order/dto/request/OrderCreateRequest.java
  src/main/java/potato/potatoAPIserver/order/dto/response/OrderCreateResponse.java
  src/main/java/potato/potatoAPIserver/order/service/OrderProductWriteService.java
  src/main/java/potato/potatoAPIserver/order/service/OrderWriteService.java
  src/main/java/potato/potatoAPIserver/product/domain/Product.java
  src/main/java/potato/potatoAPIserver/product/dto/ProductDto.java
  src/main/java/potato/potatoAPIserver/product/dto/request/ProductCreateRequest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductWriteServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartWriteServiceTest.java
  src/test/java/potato/potatoAPIserver/order/service/OrderWriteServiceTest.java
Labels: Feat, Test

#45 주문 조회 API 구현
  src/main/java/potato/potatoAPIserver/cart/dto/CartProductParam.java
  src/main/java/potato/potatoAPIserver/common/ResultCode.java
  src/main/java/potato/potatoAPIserver/order/api/OrderApi.java
  src/main/java/potato/potatoAPIserver/order/domain/OrderProduct.java
  src/main/java/potato/potatoAPIserver/order/dto/OrderProductParam.java
  src/main/java/potato/potatoAPIserver/order/dto/response/OrderResponse.java
  src/main/java/potato/potatoAPIserver/order/repository/OrderProductRepository.java
  src/main/java/potato/potatoAPIserver/order/service/OrderProductReadService.java
  src/main/java/potato/potatoAPIserver/order/service/OrderProductWriteService.java
  src/main/java/potato/potatoAPIserver/order/service/OrderReadService.java
  src/main/java/potato/potatoAPIserver/product/dto/ProductParam.java
  src/test/java/potato/potatoAPIserver/cart/service/CartProductWriteServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartReadServiceTest.java
  src/test/java/potato/potatoAPIserver/cart/service/CartWriteServiceTest.java
  src/test/java/potato/potatoAPIserver/fixture/CartFixture.java
  src/test/java/potato/potatoAPIserver/fixture/OrderFixture.java
  src/test/java/potato/potatoAPIserver/fixture/ProductFixture.java
  src/test/java/potato/potatoAPIserver/fixture/UserFixture.java
  src/test/java/potato/potatoAPIserver/order/service/OrderProductReadServiceTest.java
  src/test/java/potato/potatoAPIserver/order/service/OrderReadServiceTest.java
  src/test/java/potato/potatoAPIserver/order/service/OrderWriteServiceTest.java
Labels: Feat
